.crewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 65vh; 
    margin-top: 80px; 
}

.crewDetails, .crewImg{
    width: 25%;
}

.crewImg img{
    scale: 0.7;
    height: 600px; /* Fixed height */
    object-fit: contain;
}

.crewDetails h4 {
    font-size: 20pt;
    font-family: "Bellefair";
    font-weight: 200;
    color:#b4b9d7;
    
}

.crewDetails h2 {
    font-size: 25pt;
    font-family: "Bellefair";
    font-weight: 200;
}

.crewDetails p {
    font-size: 13pt;
    font-family: "Barlow Condensed";
    font-weight: 300;
    color:#b4b9d7;
}

.crewDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    min-height: 250px; /* Add minimum height */
}

.commander{
    position: relative;
}


.commander>p:nth-of-type(1){
    color: white;
    position: absolute;
    top: 70px;
    left: 410px;
    font-family: "Barlow Condensed";
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 5px;
}

.commander>span:nth-of-type(1){
    color: white;
    position: absolute;
    top: 70px;
    left: 380px;
    color: rgb(82, 80, 80);
    font-weight: 500;
    font-family: "Barlow Condensed";
    font-size: 14pt;
}


/* Tablet Styles */
@media (max-width: 1024px) {
    .crewContainer {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 40px;
    }
    
    .crewDetails, .crewImg {
        width: 80%;
    }
    
    .crewDetails {
        align-items: center;
        margin-bottom: 30px;
    }
    
    .crewImg img {
        scale: 0.8;
        height: 400px;
        margin-top: 100px;
    }
    
    .crewDetails h2 {
        font-size: 20pt;
    }
    
    .crewDetails h4 {
        font-size: 16pt;
    }
    
    .crewDetails p {
        font-size: 11pt;
        text-align: center;
    }

    .commander>p:nth-of-type(1){
        left: 40vw;
    }

    .commander>span:nth-of-type(1){
        left:35vw
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .crewContainer {
        margin-top: 20px;
    }
    
    .crewDetails, .crewImg {
        width: 95%;
    }
    
    .crewImg img {
        scale: 0.4;
        height: 300px;
    }
    
    .crewDetails h2 {
        font-size: 16pt;
    }
    
    .crewDetails h4 {
        font-size: 13pt;
    }
    
    .crewDetails p {
        font-size: 10pt;
    }

    .crewImg img {
        scale: 0.8;
    }

    .commander>p:nth-of-type(1){
        left: 35vw;
    }

    .commander>span:nth-of-type(1){
        left:25vw
    }
}