@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');




/* ----------- Cette partie n'est pas obligatoire. Seulement si tu comptes utiliser ça comem classe dans ton html. */
.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}
/* ----------- Cette partie n'est pas obligatoire. Seulement si tu comptes utiliser ça comem classe dans ton html. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Tablet Styles */
@media (max-width: 1024px) {
    nav {
        margin-top: 30px;
        margin-left: 20px;
        font-size: 13pt;
    }

    .html, body, #root {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
  }
    
    .logo-container::after {
        width: 200px;
        left: 100px;
    }
    
    .navigation-container ul {
        gap: 24px;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        margin: 20px;
        font-size: 12pt;
    }
    
    .logo-container {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .logo-container::after {
        display: none;
    }
    
    .navigation-container {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    
    .navigation-container ul {
        flex-direction: column;
        gap: 16px;
    }
    
    .navigation-container a.active::after,
    .navigation-container a:not(.active):hover::after {
        top: 30px;
    }
}